body {
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

@media only screen 
  and (max-device-width: 530px)
  and (orientation: landscape) {
    .game {
      margin: 0;
    }
  
    .gameControls {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 10px;
      bottom: 65px;
    }

    .gameStatus {
      position: absolute;
      right: 5px;
      margin: 0;
    }

    .enemies {
      position: absolute;
      right: 10px;
      bottom: 5px;
      flex-direction: column;
    }

    .enemies label {
      margin: 2px 0;
    }
}